@model TechnologyOneProject.Models.InputNumber

@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">
    $(function() {

       

        
    });


</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Number)

                </div>
                <div style="margin-top: 10px;" align="center">
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </div>
                @Html.ValidationMessageFor(model => model.Number, "", new {@class = "text-danger"})
            </div>


        </div>

    </section>
}